body {
  background-color: #dfdfdf;
}

img {
  width: 160px;
  height: 160px;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: auto !important;
}

h2 {
  padding-top: 18px;
  padding-bottom: 10px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.navbar {
  background-color: #eeeeeec9
}
